@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<figure class="text-center">
    <blockquote class="blockquote">
        <p><h1>Um pouco sobre nós</h1></p>
    </blockquote>
    <figcaption class="larger-font">
        Bem-vindo à nossa organização de adoção de cachorros! Somos uma equipe dedicada e apaixonada por encontrar lares amorosos para cães em busca de uma segunda chance. Nosso principal objetivo é promover o bem-estar animal, resgatando cães abandonados, maltratados ou em situação de risco, e fornecendo-lhes cuidados e abrigo adequados.

        Acreditamos que todos os cães merecem um lar seguro e carinhoso, onde possam receber amor, cuidado e atenção. Trabalhamos incansavelmente para encontrar a combinação perfeita entre cães e famílias adotantes, levando em consideração as necessidades e preferências de ambos.

        Nossa equipe é composta por voluntários dedicados, veterinários experientes e treinadores de cães qualificados. Cada cão em nosso abrigo recebe cuidados veterinários abrangentes, incluindo vacinação, esterilização/castração e microchipagem, garantindo que eles estejam prontos para iniciar uma nova jornada em um lar amoroso.

        Além de facilitar adoções, também nos esforçamos para educar a comunidade sobre a importância da adoção responsável e dos cuidados adequados com os animais de estimação. Realizamos eventos de conscientização, sessões de treinamento e oferecemos orientação contínua para garantir que cada adoção seja bem-sucedida e gratificante para ambas as partes.

        Se você está pronto para dar um lar amoroso a um cãozinho especial, entre em contato conosco. Estamos ansiosos para ajudá-lo a encontrar o companheiro perfeito que trará alegria e felicidade para sua vida. Juntos, podemos fazer a diferença na vida desses adoráveis cães e construir laços duradouros de amor e amizade.
    </figcaption>
</figure>