@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="css/style.css">

<div class="text-center">
    <h1 class="display-4">AdotAki</h1>
    <p>Encontre aqui um amigo de 4 patas</p>
</div>

<br />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mx-auto" style="width: 18rem;">
                <img src="https://static.wixstatic.com/media/758c4a_2c47ace71346438cb0a04ee8792effe1~mv2.jpg/v1/fill/w_395,h_368,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/758c4a_2c47ace71346438cb0a04ee8792effe1~mv2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tigrão</h5>
                    <p class="card-text">O Tigrão foi resgatado de uma senhora  de Guarulhos que tinha 60 animais no seu terreno em cima do morro que estava em risco de deslizamento, os animais se encontravam em níveis extremos de maus tratos.</p>
                    <a class="btn btn-primary" asp-area="" asp-controller="Contato" asp-action="Cadastro">Eu quero</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mx-auto" style="width: 18rem;">
                <img src="https://static.wixstatic.com/media/758c4a_cefe8a0101064aef8d80fa1a1dbe3609~mv2.jpg/v1/fill/w_395,h_368,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/758c4a_cefe8a0101064aef8d80fa1a1dbe3609~mv2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Margot</h5>
                    <p class="card-text">Foi resgatada junto com seus irmãos da rua há muitos anos. Todos os seus irmãos já foram adotados e ela ainda está à espera de uma família para adotá-la. ​</p>
                    <a class="btn btn-primary" asp-area="" asp-controller="Contato" asp-action="Cadastro">Eu quero</a>
                </div>
            </div>
        </div>
    </div>
</div>


<br />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mx-auto" style="width: 18rem;">
                <img src="https://static.wixstatic.com/media/758c4a_72ca4715b69d4f11a8d6b45d7aff61fc~mv2.jpeg/v1/fill/w_395,h_368,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/758c4a_72ca4715b69d4f11a8d6b45d7aff61fc~mv2.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nala</h5>
                    <p class="card-text">A família se mudou e abandonou ela na casa fechada com muita sujeira e sem comida e água. Foi resgatada muito magra e com muito medo, pois ficou na casa sozinha durante 30 dias.</p>
                    <a class="btn btn-primary" asp-area="" asp-controller="Contato" asp-action="Cadastro">Eu quero</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mx-auto" style="width: 18rem;">
                <img src="https://static.wixstatic.com/media/758c4a_868fdfafe84f4389a087c3ad1acb1c3d~mv2.jpg/v1/fill/w_395,h_368,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/758c4a_868fdfafe84f4389a087c3ad1acb1c3d~mv2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Michelangelo</h5>
                    <p class="card-text">Abandonado na porta da ONG com muito machucados, já melhorou bem porém ainda tem dermatite na pele que necessita de cuidados específicos.​</p>
                    <a class="btn btn-primary" asp-area="" asp-controller="Contato" asp-action="Cadastro">Eu quero</a>
                </div>
            </div>
        </div>
    </div>
</div>



<br />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mx-auto" style="width: 18rem;">
                <img src="https://static.wixstatic.com/media/758c4a_8b01a3550ca84cc68416230abf14b198~mv2.jpg/v1/fill/w_395,h_368,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/758c4a_8b01a3550ca84cc68416230abf14b198~mv2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ruiva</h5>
                    <p class="card-text">Chegou para a gente quando tinha cerca de 3 anos, ela foi resgatada e um ponto de ônibus. Após um ano ela foi adotada e depois de 4 anos devolvida com câncer.</p>
                    <a class="btn btn-primary" asp-area="" asp-controller="Contato" asp-action="Cadastro">Eu quero</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mx-auto" style="width: 18rem;">
                <img src="https://static.wixstatic.com/media/758c4a_1b3b8973907f435a91f324dddbab18cb~mv2.jpg/v1/fill/w_395,h_368,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/758c4a_1b3b8973907f435a91f324dddbab18cb~mv2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tomy</h5>
                    <p class="card-text">Max nasceu na casa da mesma família que a Ruiva estava, mas quando ela foi devolvida depois de 4 anos adotada, doaram ele para nós também.</p>
                    <a class="btn btn-primary" asp-area="" asp-controller="Contato" asp-action="Cadastro">Eu quero</a>
                </div>
            </div>
        </div>
    </div>
</div>


<br />


