

<div class="text-center">
    <h1 class="display-4">Obrigado pela preferência</h1>
    <p>Entraremos em contato o mais rápido possível.</p>
</div>
<br />

<div class="d-grid gap-2">
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index" role="button">Voltar</a>
</div>